main {
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

#para-adotar {
    padding-bottom: none;
}

#agendamento-consulta {
    border-bottom: none;
}

.div1{
    border:solid 1px;
    border-radius:20px;
    background-color: #ffffff;
    padding: 30px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border: 1px solid rgba(0, 0, 0,0.4);
}

/* CARDS */

.div2 {
    display: flex;
    justify-content: space-around;

    margin-top: 50px;
}

.id-link {
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 4%;

    border: 1px solid rgba(0, 0, 0,0.4);

    border-radius: 20px;
    transition: .3s;

    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;

    cursor: pointer;

    text-align: center;
}

.div2 a:hover {
    transform: scale(1.05);
    background-color: #ffe37d;
    border: none;
}